<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 2 - Almazi</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="container">
        <h1 align="center"> Assignment 2 Layout 1 - CSS Blocks</h1>

        <div class="col-3">
            <div class="bg-dark"></div>
        </div>
        <div class="col-3">
            <div class="bg-solid"></div>
        </div>
        <div class="col-3">
            <div class="bg-light"></div>
        </div>

        <div class="col-5">
            <div class="bg-dark"></div>

        </div>
        <div class="col-3">
            <div class="bg-solid"></div>
        </div>
        <div class="col-2">
            <div class="bg-light"></div>
        </div>


        <div class="col-2">
            <div class="bg-dark"></div>

        </div>
        <div class="col-6">
            <div class="bg-solid"></div>
        </div>
        <div class="col-2">
            <div class="bg-light"></div>
        </div>
    </div>
</body>
</html>