<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 2 - Almazi</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="container">
        <h1 align="center"> Assignment 2 Layout 2 - CSS Blocks</h1>
<!---Row 1---->
        <div class="col-3">
            <div class="bg-trendy-green"></div>
        </div>
        <div class="col-6">

            <div class="container-2">
                <div class="col-2-5">
                    <div class="bg-zest">

                    </div>
                </div>
                <div class="col-2-5">
                    <div class="bg-denim">

                    </div>
                </div>
            </div>
        </div>


        <!---Row 2---->


        <div class="col-3">
            <div class="bg-forest-green"></div>
        </div>
        <div class="col-3">
            <div class="bg-killarney"></div>
        </div>
        <div class="col-3">
            <div class="bg-seance"></div>
        </div>
<!---Row 3---->
        <div class="col-5">
            <div class="bg-wasabi"></div>
        </div>
        <div class="col-4">
            <div class="bg-luxor-gold"></div>
        </div>
        <div class="col-1">
            <div class="bg-forest-green"></div>
        </div>


    </div>
</body>
</html>