<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 2 - Almazi</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <img src="images/life-of-freelancer.png" height="0" width="0" alt="Thumbnail">
    <div class="container">
        <h1 align="center" style="color: white"> Life of a freelancer</h1>
<!---Row 1---->
        <div class="col-full">
            <div class="col-circle">
            </div>
            <h1 style="color: orange">3 A. M</h1>
        </div>

        <div class="col-2">
            <div class="container-2">
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-white"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-2-5">
                    <div class="bg-grey"></div>
                </div>
                <div class="col-full">
                    <div class="bg-grey"></div>
                </div>

            </div>
        </div>
        <div class="col-full-bottom">
            <div class="bg-black"></div>

        </div>

    </div>
</body>
</html>